<h1 class="text-center mt-4">Teams</h1> 
<div>
<table table style="margin-left:auto;margin-right:auto;"> 
    <thead> 
        <tr> 
            <th>Conference</th> 
            <th>Division</th> 
            <th>Name</th> 
            <th>City</th>  
            <th></th> 
        </tr>
    </thead> 
    <tbody> 
        <% @teams.each do |team| %> 
            <tr> 
                <td><%= team.conference.name %></td>
                <td><%= team.division.region %></td> 
                <td><%= team.name %></td>  
                <td><%= team.city %>  
                <td><%= link_to 'View', team %>  
            </tr> 
        <% end %> 
    </tbody> 
</table> 
</div>