<div class="container"> 
    <h3>Name: <%= @game.name %></h3> 
    <h3>Winner: <%= @game.winner %></h3> 
    <h3>Loser: <%= @game.loser %></h3>
    <h3>Game Time: <%= @game.gametime %></h3> 
    <h1>Game stats are as follows</h1> 
    <% @game.gamedays.uniq.each do |gameday| %> 
        <table> 
            <thead> 
                <tr>
                    <th>Team Name</th> 
                    <th>Score</th>
                    <th>Time of Possession</th> 
                    <th>Passing Yards</th> 
                    <th>Rushing Yards</th> 
                    <th>Total Turnovers</th> 
                    <th>Penalties</th> 
                </tr> 
            </thead> 
            <tbody> 
                <tr> 
                    <td><%= gameday.team.name %></td>
                    <td><%= gameday.score %></td>
                    <td><%= gameday.time_of_possession %></td> 
                    <td><%= gameday.passing_yards %></td> 
                    <td><%= gameday.rushing_yards %></td> 
                    <td><%= gameday.total_turnovers %></td> 
                    <td><%= gameday.penalties %></td> 
                </tr> 
            </tbody> 
        </table> 
    <% end %> 
    <h2><%= button_to "Back", games_path, method: :get %></h2> 
</div>