<div class="container"> 
    <h1>Show Payment Details</h1> 

    <table>  
        <tr>
            <th>Payment Type</th>
            <th>Initiated</th>
            <th>Last Updated</th>
            <th></th>
        </tr>
        <tr>
            <td><%= @payment.payment_type %></td>
            <td><%= @payment.created_at %></td>
            <td><%= @payment.updated_at %></td>
            <td><%= button_to 'Edit', edit_payment_path, method: :get %></td>
        </tr>
    </table>

    <hr>


    <h2><%= button_to 'Back', payments_path, method: :get %></h2> 
</div> 