<h1>My Locations</h1> 
<div class="create_address"><%= link_to 'Create_Address', new_address_path %></div> 
<br /> 
<table style="margin-left:auto;margin-right:auto;"> 
    <thead> 
        <tr> 
            <th>Address Type</th> 
            <th>Address Line 1</th> 
            <th>Address Line 2</th> 
            <th>City</th> 
            <th>State</th> 
            <th>Zip Code</th> 
            <th>Country</th> 
            <th></th> 
        </tr> 
    </thead>
    <tbody>
        <% @user.addresses.each do |address| %> 
            <tr> 
                <td><%= address.address_type %></td> 
                <td><%= address.address_line_1 %></td> 
                <td><%= address.address_line_2 %></td> 
                <td><%= address.city %></td> 
                <td><%= address.state %></td> 
                <td><%= address.zipcode %></td> 
                <td><%= address.country %></td> 
                <td> 
                    <%= link_to 'View', address %> |
                    <%= link_to 'Edit', edit_address_path(address) %> | 
                    <%= link_to 'Delete', address, method: :delete, data: { confirm: 'Are you sure you want to delete this address?' } %> 
                </td> 
            </tr> 
        <% end %> 
    </tbody> 
</table> 