<nav class="nav_links fixed-top">
<%= link_to "Sports Data XChange", root_path, class: "navbar-brand", id: "logo" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div>
      <ul>
        <li></li>
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "About", root_path %></li>
        <li><%= link_to "Account", addresses_path %> 
          <ul><li><%= link_to "Manage Account", addresses_path %></li>
            <li><%= link_to "Manage Premium Account", payments_path %></li></ul></li> 
        <li><%= link_to "Theoretical Game Prediction Statistics", conferences_path %>
          <ul><li><%= link_to "Teams", teams_path %></li> 
            <li><%= link_to "Games", games_path %></li></ul></li> 
        <% if user_signed_in? %>
          <li><%= link_to current_user.email, edit_user_registration_path %></li>
          <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "Signup", new_user_registration_path %></li>
          <li><%= link_to "Login", new_user_session_path %></li> 
        <% end %> 
        </ul>
    </div>
    <div>

    </div>
</nav>

