<!DOCTYPE html>
<html>
  <head>
    <title>Sdx</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body>
    <nav class="nav_links">
      <ul>
        <li><%= link_to "SDX", root_path %></li>
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "About", root_path %></li>
        <li><%= link_to "Account", addresses_path %> 
              <ul><li><%= link_to "Manage Account", addresses_path %></li>
              <li><%= link_to "Manage Premium Account", payments_path %></li></ul></li> 
        <li><%= link_to "Theoretical Game Prediction", conferences_path %></li> 
        </ul>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
